{# {% extends 'base-layout.html.twig' %}

{% block title %}Liste des communes{% endblock %}
{% block header %}communes{% endblock %}
{% block breadcrumb %}{% endblock %} #}
{% block body %}
  <div class="card shadow-sm">
    <div class="card-header card-header-sm">
      <h3 class="card-title">Liste des communes</h3>
      <div class="card-toolbar">
        
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          
            <div id="grid_app_statistique_fournisseur_effectif" class="grid-dt-wrapper">Chargement....</div>
        
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block java %}
  <script src="{{ asset('assets/js/datatables.js') }}"></script>
  <script> 
        $(function() { 
              $('#grid_app_statistique_fournisseur_effectif').initDataTables({{ datatable_settings(datatable) }}, {
                  searching: true,
                  ajaxUrl: "{{ path('app_statistique_fournisseur_effectif_index') }}",
                  language: {
                      url: asset_base_path + "/js/i18n/French.json"
                  }
              });
        });
    </script>
{% endblock %}
